{% extends 'layout.html' %}

{% block app_content %}
    <div class="container pt-auto">            
        <br><a href="#standardcalc">Standard Baker's Percentages Calculator</a>
        <br><a href="#calcbyweight">Baker's Percentages by Weight Calculator</a>
        <br><a href="#discard">Sourdough Discard Calculator</a>
        <br><a href="#roadmap">Roadmap</a>
        <br><a href="#acks">Acknowledgements</a>
        <br><a href="#me">About Me</a>
        
        <h1 class="mt-5">Calculators</h1>
        
        
        <h3 id="standardcalc">Standard Bakers Percentage Calculator</h3> 
        <p>This was inspired by the feedback I received when I for <a href="http://www.thefreshloaf.com/node/66322/bakers-percentages-levain-calculator">this post on The Fresh Loaf forum.</a>  Until then, I was ignorant of the BBGA baker's percentage guidelines.  <a href="https://www.bbga.org/files/2009FormulaFormattingSINGLES.pdf">The Bread Bakers Guild of America Formula Layout Standards</a>, Part I, Diagram 3 inspired this calculator.  

        <h3 id="calcbyweight">Bakers Percentage Calculator by Weight</h3> 
        <p>This was inspired by three things:
        <ul>
        <li>The comments from the article <a href="https://www.theperfectloaf.com/reference/introduction-to-bakers-percentages/" target="_blank">Introduction to Baker’s Percentages</a> in the excellent <a href="https://www.theperfectloaf.com/" target="_blank">The Perfect Loaf website.</a>
        </li>
        <li>My own baking experience maintaining a 100% hydration starter but wanting to quickly convert recipes using varying hydration levels.  For example, I often bake breads from <a href="https://kensartisan.com/flour-water-salt-yeast" target ="_blank">FLOUR WATER SALT YEAST</a> book, but the author uses an 80% hydration starter and I maintain my starter at 100%.  Therefore, I have to convert the recipe in order to maintain dough hydration and prefermented flour quantities.
        </li>
        <li>During the pandemic, in addition to spending a lot of time in the kitchen and exercising to keep things in balance, I thought it a good time to learn Python full stack programming.
        </li>
        </ul> 
        </p>
        
        <h3 id="discard">Sourdough Starter Discard Recipe Calculator</h3> 
        <p>Like many, I've been finding creative ways to use sourdough discard which is safe, edible and delicious. So when not baking boules, I find myself using discard in recipes that may not call for sourdough, like traditional whole wheat bread, date nut loaf and tortillas, ¡Ay caramba!</p>  
        <p>But when replacing flour and water with sourdough discard it's important to maintain <a href="https://www.theperfectloaf.com/reference/introduction-to-bakers-percentages/">bakers percentages</a>.  Otherwise you may end up baking a brick or something resembling a stiff, hot porridge.  This simple calculator will compute the amount of flour and water required to maintain the original recipe bakers percentages when replacing some portion of the dough with sourdough discard.</p>
        <p>My primary objective with the calculator--beyond accuracy and a clean interface--is simplicity.  Two screens, that's it! For more information on how to use the calculator, give it a test ride and click Help in the navigation bar.</p>
        
        <h2 id="roadmap">Roadmap</h2>
        Check out the <a href="https://github.com/worthogdotorg/pandulce/issues">GitHub repository Issues list</a> for application enhancements that I've thought of.  Can you think of anything that you'd like to see in the calculator?  If so, then add a new issue to the list or send me an email. 

        <h2 id="acks">Acknowledgments</h2>
        <p>There are bushels of good bread calculators for recipes, timings, and other bread related stuff. And then there are sites that exhibit a level of obsession about bread that I could really appreciate.  Here are three which inspired me:
        <ul>
            <li><a href="https://www.sourdough.co.uk/sourdough-hydration-calculator/" target="_blank">The Sourdough School Calculator</a></li>
            <li><a href="http://brdclc.com/?flour=1000&water=75&salt=2&leaven=20" target=_"blank">Bread Calculator</a></li>
            <li><a href="https://www.breadscheduler.com/#/ target=_"blank">Bread Scheduler</a></li>
        </ul>
        </p>
        <p>Many thanks to proth5 and DanAyo on <a href="http://www.thefreshloaf.com">The Fresh Loaf</a> site for their very helpful feedback.  If you are looking for a calculator that accommodates more than one preferment and allows for customization, contact DanAyo. </p>
        <p>This article has a very simple explanation for bakers who are wondering about how to use discard in conventional recipes, <a href="https://www.thekitchn.com/using-sourdough-starter-discard-23025996#comments-23025996" target="_blank">"You Can Add Sourdough Starter Discard to Almost Anything — It Just Requires a Little Math"</a></p>
        <p>Icons and glyphs make the user experience a little more pleasant, IMHO. The images I used are courtesy of <a href="https://icons8.com/">icons8</a>.</p>
        <p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Miguel Grinberg's Flask Mega-Tutorial</a> is brilliant.  I could not have done this project without having first taken much of the tutorial which, admittedly, was a bit of a slog at times. But as we say in Spanish, <a href="https://worldspanishteacher.com/spanish-phrases-vale-la-pena-its-worth-it/">"Vale la pena."</a></p>
        <p>For the Sourdough Discard calculator, simplicity was paramount even if the algebra required was sometimes not so simple--at least for me!  Somewhat embarrassingly, I could not have figured out the math without the help of <a href="https://munchietamer.com/bread-math-sourdough-starter-and-dough-hydration/" target="_blank">this terrific site</a> which provided the needed formulas and helpful explanations.  Hey, it's been awhile since I've done high school algebra.
        </p>
        <p><img src="https://imgs.xkcd.com/comics/too_old_for_this_shit.png" alt="Funny XKCD Math Comic" class="center mt-1">
        </p>
        <p>Thank you. Gracias. Huzzahs!</p>

        <h2 id="me">About Me</h2> 
        <p>I'm a long time home baker and have been maintaining starters since long before the pandemic struck. I'm also a little geeky and have some time on my hands (and sometimes bits of freshly kneaded dough).  I'm sort of semi-retired, but looking to leverage my nascent programming skills and many years of enterprise data center experience into something interesting with an organization doing good things.</p>
        <p>Contact information:</p>
        <ul>
            <li><a href="mailto:info@pandulce.info">info@pandulce.info</a></li>
            <li><a href="www.linkedin.com/in/frank-a-espinoza">LinkedIn</a></li>
        </ul>
        </p>
        <p>Paraphrasing <a href="https://www.brewerspublications.com/blogs/author/charlie-papazian">the great Papazian</a>, "Relax, don't worry, and have another slice of buttered bread."  Happy Baking!</p>
     
    </div>
{% endblock %}
