<!doctype html>
<html lang="en">
<!-- CSS tags for BBGA table -->
  <style>
    table, th, td {
    border:solid 1px;
    border-collapse:collapse;
    table-layout:fixed;
    padding:5px;
    }    

    tfoot tr:last-child {
    background:salmon;
    font-weight: bold;
    }
    
    tbody th {
    text-align:left
    }

    td {
    text-align:right
    }

  </style>



  <head>
    {% block head %}
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="shortcut icon" href="./static/icons8-wheat-16-2.png">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css" crossorigin="anonymous">
    
     <!--
    <link rel="stylesheet"  href="../static/css/bread.css">
    -->

    {% endblock %}
  </head>
    
  <body class="pt-5">
    {% include 'navigation.html' %}

    <main role="main">
         
      {% import "bootstrap/wtf.html" as wtf %}
      {% from 'bootstrap/utils.html' import render_messages %} 

      {% block content %}
        <div class="container pt-4">
 
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
        </div> 
        <div class="container pt-5">
          {% block app_content %}{% endblock %}
        </div>
      {% endblock %}

    </main>    

   
    <footer class="page-footer font-small pt-4">
      <div class="footer-copyright text-center py-3">© 2020 Copyright: F. Espinoza       
      </div>
      <p class="text-muted text-center">App icons from <a href="https://icons8.com/">icons8</a>
      </p>  
    </footer>
 
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <script>
      $(document).ready(function() {

        const $valueSpan = $('.valueSpan2');
        const $value = $('#customRange11');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>

    <script>
      $(document).ready(function() {

        const $valueSpan = $('.valueSpan3');
        const $value = $('#customRange12');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>

    <script>
      $(document).ready(function() {

        const $valueSpan = $('.valueSpan4');
        const $value = $('#customRange13');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>

    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan5');
        const $value = $('#customRange14');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>
    
    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan6');
        const $value = $('#customRange15');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>

    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan7');
        const $value = $('#customRange16');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan8');
        const $value = $('#customRange17');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan9');
        const $value = $('#customRange18');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        const $valueSpan = $('.valueSpan10');
        const $value = $('#customRange19');
        $valueSpan.html($value.val());
        $value.on('input change', () => {
        $valueSpan.html($value.val());
        });
      });
    </script>

<script>
  $(function(){
    $('input[name="flour1_pct"]').val(100);
    $('input[name="flour2_pct"]').val(0);
    $('input[name="flour3_pct"]').val(0);

    $('input[name="flour1_pct"]').keyup(function(){
      $('input[name="flour3_pct"]').val(0);
      var text1Value = parseInt($('input[name="flour1_pct"]').val());

      var text1Value = $('input[name="flour1_pct"]').val();
      if(isNaN(text1Value) || text1Value === '' || text1Value === ' ' || text1Value === undefined)
        {            
        $('input[name="flour1_pct"]').val(0);
        text1Value =0; 
        }
          
      if(text1Value >=100)
        {
        $('input[name="flour1_pct"]').val(100);
        $('input[name="flour2_pct"]').val(0);
        $('input[name="flour3_pct"]').val(0);  
        }
      else
        {
        var total = 100 - text1Value;  
        $('input[name="flour2_pct"]').val(total);
        }
    });  
  $('input[name="flour2_pct"]').keyup(function(){
      var text1Value = parseInt($('input[name="flour1_pct"]').val());
      var text2Value = parseInt($('input[name="flour2_pct"]').val());
  
      if(isNaN(text2Value) || text2Value === '')
      {
      $('input[name="flour2_pct"]').val(0);
      text2Value =0;
      }
      var total = text1Value + text2Value;
  
      if(total >=100)
      {
      $('input[name="flour2_pct"]').val(100-text1Value);
      $('input[name="flour3_pct"]').val(0); 
      }
      else
      {
      $('input[name="flour3_pct"]').val(100-total);
      var text3Value = parseInt($('input[name="flour3_pct"]').val());
      }
    });
  });
</script>

<script>
  $(function(){
    $('input[name="pf1_flour1_pct"]').val(100);
    $('input[name="pf1_flour2_pct"]').val(0);
    $('input[name="pf1_flour3_pct"]').val(0);

    $('input[name="pf1_flour1_pct"]').keyup(function(){
      $('input[name="pf1_flour3_pct"]').val(0);
      var text4Value = parseInt($('input[name="pf1_flour1_pct"]').val());

      var text4Value = $('input[name="pf1_flour1_pct"]').val();
      if(isNaN(text4Value) || text4Value === '' || text4Value === ' ' || text4Value === undefined)
        {            
        $('input[name="pf1_flour1_pct"]').val(0);
        text4Value =0;
        }
      if(text4Value >=100)
        {
        $('input[name="pf1_flour1_pct"]').val(100);
        $('input[name="pf1_flour2_pct"]').val(0);
        $('input[name="pf1_flour3_pct"]').val(0);  
        }
      else
        {
        var total_pf1 = 100 - text4Value;  
        $('input[name="pf1_flour2_pct"]').val(total_pf1);
        }
    });  
  $('input[name="pf1_flour2_pct"]').keyup(function(){
      var text4Value = parseInt($('input[name="pf1_flour1_pct"]').val());
      var text5Value = parseInt($('input[name="pf1_flour2_pct"]').val());
  
      if(isNaN(text5Value) || text5Value === '')
      {
      $('input[name="pf1_flour2_pct"]').val(0);
      text5Value =0;
      }
      var total_pf1 = text4Value + text5Value;
  
      if(total_pf1 >=100)
      {
      $('input[name="pf1_flour2_pct"]').val(100-text4Value);
      $('input[name="pf1_flour3_pct"]').val(0); 
      }
      else
      {
      $('input[name="pf1_flour3_pct"]').val(100-total_pf1);
      var text6Value = parseInt($('input[name="pf1_flour3_pct"]').val());
      }
    });
  });
</script>

    <!-- You will need to enter your own Tiny key here--mine only works on localhost and other approved domains -->
    <script src="https://cdn.tiny.cloud/1/2j22078ahdvf2onrpjleiz5oowrjsbu1pn6hdmk06ejx3ycv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


    <script>
      tinymce.init({
      selector: 'textarea#editor',
      height: 500,
      menubar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar: 'undo redo | formatselect | ' +
      'bold italic backcolor | link | alignleft aligncenter ' +
      'alignright alignjustify | bullist numlist outdent indent | ' +
      'removeformat | help',
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
    </script>

    <script>
    // Prevent Bootstrap dialog from blocking focusin
    $(document).on('focusin', function(e) {
      if ($(e.target).closest(".tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
        e.stopImmediatePropagation();
      }
    });
    </script>

    <script>
      function myFunction() {
    window.print();
    }
    </script>
  
  </body> 

</html>